[2019-09-11 15:47] tcatapano opened #1 "Implement MVP index page"
create layout of index page, as per vision.md, regardless if dynamic components (query box, map, etc...) dont work

[2019-09-11 15:48] tcatapano opened #2 "Implement MVP of search page"
implement html for search page (query, facet, result and feature options) for treatments and images, even without dynamic functionality

[2019-09-11 16:01] tcatapano opened #3 "deploy index and search pages to server"

[2019-10-01 07:36] teodorgeorgiev opened #4 "BLR-website desing"

[2019-10-01 07:38] teodorgeorgiev commented on #4
![BLR_home](https://user-images.githubusercontent.com/4538487/65943124-688e4800-e437-11e9-831b-fee544e033bf.jpg)
![BLR_images list](https://user-images.githubusercontent.com/4538487/65943125-6926de80-e437-11e9-915f-18c443b0a8f1.jpg)
![BLR_images_grid](https://user-images.githubusercontent.com/4538487/65943126-6926de80-e437-11e9-9c91-9a67a3f22a40.jpg)
![BLR_Publications](https://user-images.githubu

[2019-10-01 07:43] teodorgeorgiev commented on #4
@myrmoteras  @tcatapano @mguidoti @gsautter @punkish Please check corrected desing of the BLR pages. Note that the images of dashboards are provisional and only marking the space where they will appear. The look and the type of the dashbords (charts, bars, etc.) will be decided later.

[2019-10-01 08:37] punkish commented on #4
You can design the look of the charts later, however, you will have to provide me with the content of the charts now as I am making the API that will let you retrieve the stats. Here are my suggestions in this regard:

Think of each chart as a *packet of stats* with its *x* and *y* values (assuming it is an x-y type of chart). I will send each of those *packets* in the API result. All the charts,

[2019-10-02 15:11] mguidoti commented on #4
Hi @teodorgeorgiev ,

Thanks very much for the improved mock-ups. I can see that you guys accommodate most if not all of our initial requests/suggestions.

I made a similar [*.md file with some, fewer, additional requests](https://hackmd.io/@mguidoti/HkaNuXMdS). Please, keep in mind that this is my own suggestions, and I haven't discuss this with any of the Plazi's members yet.

You all can commen

[2019-10-02 15:24] mguidoti opened #5 "Dashboards Specs"
You can design the look of the charts later, however, you will have to provide me with the content of the charts now as I am making the API that will let you retrieve the stats. Here are my suggestions in this regard:

Think of each chart as a *packet of stats* with its *x* and *y* values (assuming it is an x-y type of chart). I will send each of those *packets* in the API result. All the charts,

[2019-10-02 15:28] mguidoti commented on #4
Hi @punkish, I moved the discussion on dashboards specs to [here](https://github.com/plazi/BLR-website/issues/5), so we can leave this issue to continue the discussion on the layout and mockups.

I'll be replying you there soon.

Thanks,

[2019-10-14 14:25] teodorgeorgiev commented on #4
revised desing

![BLR_images_grid](https://user-images.githubusercontent.com/4538487/66758494-0e659c00-eea7-11e9-8f59-0e84866c1a3d.jpg)
![BLR_Publications](https://user-images.githubusercontent.com/4538487/66758495-0e659c00-eea7-11e9-8547-f21900f4d277.jpg)
![BLR_images list](https://user-images.githubusercontent.com/4538487/66758496-0e659c00-eea7-11e9-8f88-7ce84a8d1e3b.jpg)
![BLR_home](https://use

[2019-10-15 09:42] teodorgeorgiev commented on #5
Hi @punkish, here are our first comments with regards to the "v2/treatments" endpoint.

It looks very promising!

I saw you have pagesize, pagenum, but I didn't saw the "sortBy" options.

For all facet groups we will need a list of values with the respective count, i.e.:
[code]
In the current design we have "Article Author". @mguidoti could you please check if that is correct?
I guess it should be

[2019-10-15 14:51] myrmoteras opened #6 "Text blocks for Website"
here are textblocks for the new BLR webbsite. Please read through it and correct

https://docs.google.com/document/d/1KFXidMCHpj22FLa0WvLAl-tPSle37dSGU7AYBxq1jgE/edit#heading=h.7w4y38uyr1is

BLR Website: http://blr.uplaysandbox.website/about
BLR Website: mockup: https://github.com/plazi/BLR-website/issues/4

[2019-10-17 13:56] mguidoti commented on #4
Hi @teodorgeorgiev,

I provided further explanation on the requested points and made some small additional layout comments [here](https://hackmd.io/@mguidoti/B1DvM1HKS). It's another hack.md document.

Also, I'm adding, as right now, the information you need to provide real-life examples in both search results and facets for all three data types (publications, images and treatments), following the

[2019-10-17 14:45] mguidoti commented on #4
@teodorgeorgiev

Facets and content for the image and publications search page are included in the [md document](https://hackmd.io/@mguidoti/B1DvM1HKS) already.

Only for the treatments seach page these info are missing. But I'm working on it.

[2019-10-17 15:45] mguidoti commented on #4
@teodorgeorgiev

I just finished. Basically, I think I provided all information needed to replace the fake examples with real life ones for Leiden next week, for all types of data and searches, including facet information or guidance.

https://hackmd.io/@mguidoti/B1DvM1HKS

Let me know if you need anything else.

[2019-10-21 16:44] mguidoti commented on #4
The 3rd version of the mockups was send by Slavena to Donat by e-mail and can be found here: https://drive.google.com/open?id=1G6Lc45M1IfkAac9L_bTzGCE2m7AiWsp8

My comments and a handful of graphic suggestions on this version can be found here: https://hackmd.io/@mguidoti/B1W5MSoFB

[2019-10-21 17:23] punkish commented on #4
Marcus, could you please put your comments on Github instead of hackmd. That way everything is in one place, and safely versioned forever.

--
Puneet Kishor
Just Another Creative Commoner
http://punkish.org/About

[2019-11-19 08:48] punkish commented on #5
`sortBy` is something that is a client-side requirement. The API will provide the results sorted by the primary key. But since every client can have different requirements, and since it is trivial to do a JavaScript sort, that is best done by the client.

I investigated providing counts. There are two issues here: One, looking at several implementations (Amazon comes to mind), facets don't show an

[2019-11-20 08:59] punkish commented on #5
hola @teodorgeorgiev, I have just pushed some improvements to Zenodeo. Please check out the facets being returned now. For example, `https://zenodeo.punkish.org/v2/treatments` returns the following (only part of the output shown below)

[code]

The performance is still not up to what I would call satisfactory, but the cached values are returned instantly, of course. I am going to continue to chip

[2019-12-03 11:30] howkins commented on #5
Hi @punkish please check below our commments regarding the treatment endpoint - Teodor

----
Hi! I am Georgi from team of pensoft
I saw changes of treatments endpoint for facets and think that is good except these missing resources

    species: [
        {
            species: :string
            c: integer
        },
    ],
    journalVolume: [
        {
            journalVolume: :string

[2019-12-04 08:57] howkins opened #7 "Image Object Type"
##  Here are our comments for images endpoint

We need to get requests with `sortBy: title [ASC|DESC]` parameter

For all `facets` we need for the same architecture like treatments for the following resources

[code]

## In records object

[code]

[2019-12-05 07:23] teodorgeorgiev opened #8 "Publications Objec Type"
We need to get requests with `sortBy: title [ASC|DESC]` parameter

## Facets

[code]

## In records object missing

[code]

[2019-12-19 22:39] punkish commented on #5
I have been testing various facets and I really don't think they make much sense as is. For example, I added `species` to the mix and almost 90,000 rows, many of them with really janky data. Tried `journalVolume` and got similar results… almost 4000 rows and meaningless numbers for volumes (journal volumes are, after all, just numbers – is it really meaningful to say that '38' occurs '72' times?).

[2019-12-19 23:35] punkish commented on #5
Let's rethink this facets business. For starters, let's say you go to the website and hit search with no params provided. Think of this query as

[code]

 The answer comes back, "There are 250000 treatments" and perhaps the first 30 treatments are shown. Note that the "first 30" is dependent on the sort order. But since the sort order is not provided, (kinda pointless when one is viewing only 30 r

[2019-12-20 08:52] howkins commented on #5
This is the link to our test website:
http://blr.uplaysandbox.website/
You can play with it and you can see what is available till now.

[2019-12-20 11:22] punkish commented on #5
I like it 👍 I am working on enhancements to the API and will update you soon

[2020-01-02 14:35] punkish commented on #5
…

Wanted to let you know that I've got sorting working now although I haven't yet pushed the changes to the public API. Am still testing it. Hope to push it up by this weekend. In advance though, please see the following notes:

The following columns are not part of the 'treatments' table. They are related records for every treatment
    - treatmentAuthors
    - materialsCitations
    - figureCit

[2020-01-10 17:54] punkish commented on #5
hello @howkins and @teodorgeorgiev

apologies for the delay in delivering this API, but I've been busy with testing it and trying to make it fast enough to be usable. I am pushing a working version now but I want you to be aware of a breaking change that is easily fixed.

Now the **treatments** end-point (and eventually all the end-points) will **not** return `facets` and `stats` automatically. In

[2020-01-18 08:37] punkish commented on #5
hello @howkins and @teodorgeorgiev,

I have pushed updates to the queries so that they are much faster. I have tried a few queries and there is no timeout happening anymore. But, please do check, and if you face a problem, please open an issue immediately. That is the only way I can solve things. I am hoping the query responses will be in the sub-second range, even with all the facets and stats, b

[2020-01-23 08:13] howkins commented on #5
Hello @punkish I have tried to make most different queries and I found that is much better as productivity but some times I receive status code `504 Gateway Time-out`  for queries which i was executed with success before.

[2020-01-23 10:53] punkish commented on #5
Thanks for the report. Could you please make a note of the queries that are giving a 504 and let me know. Basically the dB is taking too long to do those queries and the web server is timing out. In fact, if you run the exact query again, it will come back immediately because even though it timed out the first time, in the meantime the dB calculated the query and it was cached.

In any case, if yo

[2020-01-23 13:29] howkins commented on #5
Ok immediately when I receive this response again i will send you report with example.

I noticed another issue. When open this `Query1` for example I see journalVolume like a option for search in facets but when i try to access it (`Query2`) i receive Object with `statusCode: 400`
Query1: [https://zenodeo.punkish.org/v2/treatments?facets=true&stats=true&q=temnothorax](https://zenodeo.punkish.org/

[2020-01-23 14:00] punkish commented on #5
thanks for reporting. This is because `journalVolume` was not a queryable column. I’ve now added it to the schema and it should work now. To see what columns are queryable, please see the docs at https://zenodeo.punkish.org/docs

[2020-01-28 17:04] punkish opened #9 "image and publication resource endpoints"
@howkins and @teodorgeorgiev, please note that the images and publications endpoints return the data from Zenodo as is, that is, without any modifications. The only difference between querying Zenodo directly vs querying Zenodeo is that the latter has a couple of convenience variations built in – for example, publications can be narrowed by type aka as subtype in Zenodo (for example `publications?

[2020-02-03 07:55] howkins commented on #9
Hello @punkish
We rendered some part of data from images and publications endpoints but I think that we have a problem with zenodo resources because they have a rate limit 60 images per minute then return 429 status (too many requests).

[2020-02-03 11:09] punkish commented on #9
yes, we are aware of the rate limit. Don't worry, we will fix it. The main thing is to get the logic between my Zenodeo and your website solid.

I am still working on the facets for images and publications, but as I mentioned before, I am limited because I don't have the entire data with me. I can only do manipulations on what Zenodo returns to me. Also, the same thing applies to sorting the resul

[2020-02-25 13:22] tcatapano opened #10 "remove journal volume facets from treatments"
per https://github.com/plazi/BLR-website/blob/master/facets.md#treatments

[2020-02-25 13:23] tcatapano opened #11 "remove taxa ranks from treatments facets"
per https://github.com/plazi/BLR-website/blob/master/facets.md#treatments

[2020-02-25 13:25] tcatapano opened #12 "fix data source for collectionCode facet"
For treatment facets, get single rather than aggregated collection codes from treatmentBank data

[2020-02-25 13:28] tcatapano opened #13 "normalize values of taxon status facet"
not sure at what stage this normalization would be best performed. In data or later?

[2020-02-25 13:30] mguidoti opened #14 "fix ranks counting on facets"
We noticed that when querying for 'carabus' on the full-text option we ended getting wrong numbers for the taxonomic ranks facet.

E.g: Family was equal to 1, but under the family facet, we notice more than one family available.

[2020-02-25 13:32] mguidoti commented on #13
The ranks also need normalization as capitalization of the ranks are creating two or more entries (e.g. Family, family; Sub-family, Sub-Family, sub-family; etc).

This might be a related issue, so I'm just reporting it here.

[2020-02-25 13:49] teodorgeorgiev opened #15 "Fix the undefined treatmentId in /v2/treatments"
https://zenodeo.punkish.org/v2/treatments?facets=true&stats=true&q=Maratus

[code]

[2020-02-25 15:24] mguidoti opened #16 "Treatments are being served on the publications end point"
We noticed that some treatments are being returned on the publications endpoint and we believe this is probably because the query passed to Zenodo includes only `upload_type=publication` parameter, not the `publication_type` parameter, which is needed to filter out the publication type `Taxonomictreatments`.

[2020-02-25 16:02] mguidoti opened #17 "Check provided specs versus current response versus what's needed"
We should revise the specification written in the previous Arcadia Sprint meeting (Sep/2019), checking if it addresses all desired features on the display, facets and dashboards deeply discussed during the mockups iterations, and also check if the information needed is being currently provided by Zenodeo API.

Here are the related documents:
https://github.com/plazi/BLR-website/blob/master/dashboa

[2020-02-26 07:50] myrmoteras commented on #13
We might want to spend at some point time to clean this up in the treatments, that means Guido would have to run a script over the entire treatment corpus. This would also include other elements such as taxonomic status, etc.

At the same time we should think of whether we could normalize these terms at the moment we tagg them in the GGI process.

[2020-02-26 09:32] punkish commented on #10
remove journalVolume from facets

[2020-02-26 09:32] #10 closed

[2020-02-26 10:18] punkish commented on #11
removed

[2020-02-26 10:22] punkish commented on #14
this issue is no longer applicable as 'ranks' have been removed from treatment facets per [issue 11](#11)

[2020-02-26 10:30] punkish commented on #15
fixed

[2020-02-26 10:30] #15 closed

[2020-02-26 12:53] teodorgeorgiev commented on #11
remove:

SPECIES
GENUS
FAMILY
ORDER
PHYLUM
KINGDOM
JOURNALVOLUME

return back RANK (+ normalize the values)

[2020-02-26 12:53] punkish commented on #11
fixed everything except issue14 (normalizing rank values)

[2020-02-26 12:53] #11 closed

[2020-02-26 13:12] mguidoti opened #18 "Exact searches might not be the case here"
Hi Puneet,

So, Teodor just notice that the `v2/treatments` endpoint only returns exact matches with the query.

This is being used in the Taxon search, because the user can't/won't specify on the query which taxonomic rank he/she is interested in (thus we can't use a rank-specific parameter), and treatment titles will always have the taxon name, meaning that, they can be used to search by taxon i

[2020-02-26 13:24] mguidoti opened #19 "Parameter used to query authors not right"
Hi Teodor,

We noticed that you guys are using a not existing parameter to query authors in both `Images` and `Publications` data types.

Please, instead of authorityName use **`author`** for [Images](https://zenodeo.punkish.org/docs#/v2/getV2Images) and **`creator`** for [Publications](https://zenodeo.punkish.org/docs#/v2/getV2Publications), according to [Zenodeo documentation](https://zenodeo.pu

[2020-02-26 13:30] mguidoti opened #20 "Collection Code Search not working for Images and Publication data types"
Hi Teodor,

I noticed that the collection code search isn't working and decided to dig in. We're not including this information for images neither publications on Zenodo, meaning that, Zenodeo can't query Zenodo by collection code for these two data types.

As we discussed in person, I think the most reasonable solution would be deactivate the `Images` and `Publication` buttons when the user selec

[2020-02-26 16:23] punkish commented on #16
I will remove publication type 'taxonomictreatment'

[2020-03-05 20:48] myrmoteras opened #21 "Create an overview of the architecture of BLR"
For discussions and presentations we need at least a high level graphic description of the planned website, the services and data sources used, as well as a data worfklow.

Which API is use for what, eg Zenodo, Zenodeo, TreatmentBank, Synospecies, GBIF

[2020-03-06 16:26] tcatapano opened #22 "Add next column to project board"
to manage priority issues promoted from those in To Do

[2020-03-06 16:26] #22 closed

[2020-03-09 08:04] punkish commented on #16
Hello all, esp. @mguidoti, @teodorgeorgiev, @tcatapano, and @howkins. (And also @myrmoteras).

This should be fixed now. Please check. But wait, there is more. This issue led me down a rabbit-hole that consumed most of my last ten days or so. When I re-emerged from the rabbit-hole, I had [changed 21 with 2,604 additions and 2,173 deletions](https://github.com/punkish/zenodeo/commit/ef2da2ff84be2b9

[2020-03-09 08:07] #16 closed

[2020-03-09 14:48] punkish commented on #12
I am going to tackle this, but it might require surgery at source. As I've mentioned before, my XML parser simply grabs the attributes as they are. In this case, the collection codes are coming as a comma separated list, so that is how they are inserted. In order for me to insert one collection code per row, I have to not just break up the string into individual tokens, I have to also de-duplicate

[2020-03-10 18:59] tcatapano opened #23 "Set up project call"
@punkish @teodorgeorgiev @mguidoti @myrmoteras:

I'd like to schedule a call to review status and discuss a roadmap for development of the BLR website. Perhaps Monday?

[2020-03-10 19:13] mguidoti commented on #23
Monday is fine by me.

[2020-03-10 20:48] myrmoteras commented on #23
@tcatapano Monday, what time? For me any time is ok. Shall we say 4:30pm CET?

[2020-03-10 20:52] punkish commented on #23
yea, 4:30-5:30 PM CET will work for me

[2020-03-10 22:07] punkish commented on #12
so, as I said above, I take out collectionCodes from the treatments just as they are provided. And they are provided as a csv list. For example, see below

[code]

I think I should not be parsing them (though I could, albeit not very easily). In fact, like the status, this too is something that should be fixed at the source, either when GGI is used to do the tagging, or when a treatment is created

[2020-03-11 07:06] teodorgeorgiev commented on #23
Monday between 4:30-5:30 PM CET is OK for me

[2020-03-11 18:14] punkish commented on #18
so let me clarify this… you want a non-exact search for everything except collection codes? [Per the docs](https://zenodeo.punkish.org/docs), you can query treatments, in any combination, against:

- full text
- treatmentTitle
- journalTitle
- journalVolume
- authorityName
- authorityYear
- kingdom
- phylum
- order
- family
- genus
- species
- rank
- lat
- lon

For one, inexact searches for a lot

[2020-03-11 18:15] punkish commented on #6
@myrmoteras @teodorgeorgiev @tcatapano please close this issue if it has been implemented

[2020-03-11 18:22] punkish commented on #19
this might have been a result of rejigging the queries between versions, or it could have been an error on my part. But please note, the relevant parameter now is "creator" for both images and publications, as this is what Zenodo calls this role. The creator is usually the author.

This is certainly one of the params that should enable inexact searches. I am in the process of testing that.

[2020-03-11 18:37] #6 closed

[2020-03-11 21:18] punkish commented on #8
Zenodo records can be sorted only by a very limited set of params (I could be wrong on this so we need to confirm this from Alex). As far as I can tell, sorting is available by

- bestmatch (I guess this is the same as match relevance)
- most recent (this must be the date added)
- publication date
- conference session (?)
- journal
- version

[2020-03-11 21:19] punkish commented on #8
[code]

I don't understand this. Please explain more. Better yet, please open a new issue. It would be great if we can restrict one issue for one item, as narrow as possible. Many thanks.

[2020-03-11 21:21] punkish commented on #1
if this has been completed, please close this. It would be very helpful if each issue is as narrow as possible. Closing an issue with success is really helpful on pushing the project along. Many thanks.

[2020-03-11 21:22] punkish commented on #9
rate limit has been fixed, as I understand.

[2020-03-11 21:22] #9 closed

[2020-03-12 22:27] punkish commented on #19
hello everyone, esp @mguidoti @teodorgeorgiev (but also @tcatapano and @myrmoteras), I have pushed new changes for fetching images and publications by `creator` and `title`. The ElasticSearch syntax is pretty non-standard so I've tried to make things as intuitive as possible. Please check the docs on zenodeo.

**Impt:** Please note that when you search by `title` or by `creator`, the `q` field (os

[2020-03-12 22:27] #19 closed

[2020-03-13 08:49] punkish commented on #3
this issue has no description, and I can't really figure out from the title what this is about. @tcatapano, could you please add more explanation or close the issue if it is no longer relevant.

[2020-03-13 17:18] tcatapano commented on #23
OK. Sending out a calendar invite for 4:30-5:30 CET. Can we use Hangouts/Meet. It is helpful that is connected to the calendar?

[2020-03-13 17:47] punkish commented on #23
Yes please, let's try that. I have another reason for it. With Hangouts, as far as I remember, I can turn off all incoming video. I am kinda sequestered in my apt because of the "state of alarm" in Spain because of Covid, and at home I have limited bandwidth (using my phone data). I was hoping to go to my makerspace for this call, but now I can't. So, I have to work as efficiently as possible. Sky

[2020-03-13 17:49] tcatapano commented on #23
Ive sent an invite. Here too is a link:

https://calendar.google.com/calendar/r/eventedit/MWYzNGU0NGlhbGVwZzcwdGwwaGhrdHVyajcgMDZzdGtoZHNyZzUzYTljMDBpcWNpNjJhM2dAZw?tab=mc1&pli=1

[2020-03-16 17:19] myrmoteras opened #24 "BLR website testing: taxon treatments not included"
when testing for taxon treatments, the results are publications NOT treatments.
http://blr.uplaysandbox.website/

![image](https://user-images.githubusercontent.com/4609956/76783603-7b60c300-67b2-11ea-9e77-81e1a973a9a6.png)

the link should either include the TB PID: http://treatment.plazi.org/id/0386879B-0844-B565-85EC-199A1D99FD7A or if possible the DOI from BLR.

[2020-03-16 17:28] myrmoteras opened #25 "BLR Website testing: taxon treatments have nothing to do with author"
Searching for "Agosti" I get all stuff which have nothing to do with Agosti, but may be I am mentioned somewhere which has nothing to do with treatments.

![image](https://user-images.githubusercontent.com/4609956/76784152-6b95ae80-67b3-11ea-923b-0a00243239e5.png)

This is irritating and not helpful. It is like the full text search over BHL, which we make specific beause we extract authors, taxa i

[2020-03-16 17:31] myrmoteras opened #26 "BLR testing: what to test?"
@teodorgeorgiev can you please let me and @mguidoti know, what functionality we should check?

[2020-03-16 17:53] punkish commented on #25
it is returning full text search because they are asking it to return fts. If you want `authorityName` (which, I believe is the author), then you need the following query

[code]

which returns two entries

[code]

[2020-03-16 18:03] punkish commented on #25
it is not that bad :). Surely, we have a ton of problems with the data itself even after 15 years of development. Nevertheless, yes, we can should leverage what we have to the best. We will get there, no worries.

[2020-03-17 07:56] myrmoteras commented on #25
@punkish did you check this from the website http://blr.uplaysandbox.website/ and not from your API?
![image](https://user-images.githubusercontent.com/4609956/76834274-26ae5e00-682d-11ea-8414-b908adb3ac14.png)

selecting anything like author has no impact on the result.

[2020-03-17 08:26] punkish commented on #25
you are correct. There is an error in the website. It should have queried `authorityName=agosti` but instead, it queried `q=agosti`. Fixing that should get better results.

Also, a suggestion to the website makers – once you get and display the result, please also continue to display the state that caused that query, that is, in the above case, continue to show the "Author" radio button as selecte

[2020-03-17 08:27] teodorgeorgiev opened #27 "grant rights to Georgi Zhelezov"
@myrmoteras please add @howkins Georgi Zhelezov to this repo

[2020-03-17 08:29] myrmoteras commented on #27
ok - done

[2020-03-17 08:29] #27 closed

[2020-03-18 15:36] teodorgeorgiev commented on #24
@myrmoteras We can add a separate button in the BLR interface, which will link to the TB if you want that. However, for this resource the API return:
"zenodoDep": "242682", so we link to https://zenodo.org/record/242682
It would be nice to have also the Zenodo deposition id of the treatment itself.

[2020-03-18 15:40] gsautter commented on #24
The Zenodo deposition number should be available from the stats the very at least ... what is the exact query you are sending to TB?

[2020-03-18 16:05] teodorgeorgiev commented on #24
we make a call to Zenodeo:
https://zenodeo.punkish.org/v2/treatments?facets=true&stats=true&q=Natrix

[2020-03-18 16:32] punkish commented on #24
The API returns *all* the columns in the table, and the table has all the fields defined in the data dictionary. Multiple eyes have looked at the data dictionary multiple times. If there is a field that is missing, then it has to be specified in the data dictionary, then I have to add it to the extraction program and rerun it on the entire corpus. Please let me know how to proceed.

[2020-03-18 17:36] tcatapano opened #28 "Include link to TB or BLR from Treatment results"
creating feature request from the issue discussed in #24.

[2020-03-18 17:37] tcatapano commented on #24
Ive created an issue for this #28 to be managed there.

[2020-03-18 17:37] #24 closed

[2020-03-18 17:43] tcatapano opened #29 "use authorityName parameter in Author queries"
Creating issue from #25

_Originally posted by @punkish in https://github.com/plazi/BLR-website/issues/25#issuecomment-599940979_

[2020-03-19 07:11] teodorgeorgiev commented on #29
The bug in the interface will be fixed.
However, please note that
https://zenodeo.punkish.org/v2/treatments?facets=true&authorityName=agosti
return 0 results.
@myrmoteras @punkish I guess the search should be case insensitive?

[2020-03-19 07:30] teodorgeorgiev opened #30 "CollectionCode & Taxon Status in Facets"
The current version of the API returns "collectionCode" & "status", but do not offer them as search parameters. This is why these facets do not work.

![image](https://user-images.githubusercontent.com/4538487/77041444-9b66d100-69c2-11ea-9f69-12c8decc820d.png)

The possibilities are:
Option 1: to add them in the API
Option 2: to remove them from the facets

@myrmoteras Please let us know how to pr

[2020-03-19 07:38] teodorgeorgiev opened #31 "Treatment - fitler by RANK"
When I search in treatments for "carabus" for the facet "Rank" I get the following options:

Family (1)
Subfamily (1)
Subtribe (1)
Tribe (1)
family (1)
genus (76)
species (135)
subGenus (82)
subSpecies (5)
subfamily (1)
subspecies (53)
tribe (1)

@myrmoteras Is that the expected result?

Also when I try to filter further by any of these I get 0 results.

[2020-03-19 14:22] teodorgeorgiev commented on #26
@myrmoteras @mguidoti
Please test the search and filter functionality here: http://blr.uplaysandbox.website/

We have hidden for now the search options "Community" & "Institution/Collection" because the current version of the API does not support any of them.

Please note that if you select to search by "Taxon" or "Journal" the "Images" & "Publication" data types are disabled because the current v

[2020-03-19 14:43] myrmoteras commented on #26
I do the same checks as before, and nothing seems to have changed?!  #25, #26

[2020-03-19 14:48] teodorgeorgiev commented on #26
When you open the website please click "ctrl + shift + R" to refresh the page.

Then you can search for treatments by Author, but please note the search is case sensitive:

![image](https://user-images.githubusercontent.com/4538487/77079880-51511000-6a01-11ea-934a-9b7ee1c82c49.png)

[2020-03-19 15:04] punkish commented on #26
case-sensitive searches will be changed in the next update (not)

[2020-03-23 07:56] #28 closed

[2020-03-24 13:04] punkish commented on #29
case-insensitive searches are now possible

[2020-03-30 15:23] myrmoteras commented on #31
that is possible. The only question is what the genus (76) looks like. Are those what? I can't reproduce it in the sandbox.

[2020-03-30 16:06] myrmoteras opened #32 "testing website 20200330"
http://blr.uplaysandbox.website/

searching for "Agostii"
What are the results? This has nothing to do with Agosti

![image](https://user-images.githubusercontent.com/4609956/77934905-0365c300-72b1-11ea-9337-adc9be0ad32c.png)

searching for Agosti = Taxon

blank screen
![image](https://user-images.githubusercontent.com/4609956/77935025-2ee8ad80-72b1-11ea-9e8d-28176ee46e84.png)

[2020-03-30 16:22] myrmoteras commented on #30
I collectionCode is in the data dictionary https://docs.google.com/spreadsheets/d/1m_iTigaD5GDfJGloJa5yJV4-W0qb1dKI9yCfvpWecJA/edit#gid=0 so it would be relevant to include

An issue might be the values we get from which at some point might have to be cleaned up, especially if thery come a string of CC or elements that are not CC.

[2020-03-30 16:34] myrmoteras opened #33 "testing website"
http://blr.uplaysandbox.website/

search for agosti, prss the journal button

Then I get a blank screen

![image](https://user-images.githubusercontent.com/4609956/77937525-c1d71700-72b4-11ea-985e-2945aaa43317.png)

[2020-03-30 16:42] myrmoteras opened #34 "testing website: search for taxon"
What does the website search for  in a search where taxon is selected?

Right now there is only a result, if a name is hitting something that is in the database.

E.g. searching for Cataglyphis gets some return.

It takes too long to get the data

It would be helpful if there is a statement how many treatmetns there are . This might be achieved by changing the order of the display on the left hand

[2020-03-30 16:46] myrmoteras opened #35 "testing website: search for taxon: facets do not work"
![image](https://user-images.githubusercontent.com/4609956/77938708-6ad24180-72b6-11ea-8e47-bfadeebb47a9.png)

clicking on a facet  then the  screen returns to the search interface and at some points gets back to the  orginal result

![image](https://user-images.githubusercontent.com/4609956/77938899-b08f0a00-72b6-11ea-9c05-85d95dd0f7c0.png)

[2020-03-30 17:01] myrmoteras opened #36 "how to use Wildcards"
What are the wildcards that can be used to search?

Using % at begin, provides anything that ends with the value added, eg %ata .. eg delicata, ustulata

[2020-03-30 17:04] myrmoteras commented on #35
http://z2.punkish.org/v2/treatments?facets=true&stats=true&rank=Subfamily&treatmentTitle=%ata

[2020-03-30 17:06] tcatapano commented on #35
see also #31

[2020-03-30 17:13] tcatapano commented on #31
when filtering by rank number next to rank does not correspond to number of results when filtering by that value

http://z2.punkish.org/v2/treatments?facets=true&stats=true&rank=genus&treatmentTitle=carabus

genus (3) but many more results

[2020-03-30 17:14] myrmoteras opened #37 "testing website: performance issue: returning from facets to the original result takes too long"
http://z2.punkish.org/v2/treatments?facets=true&stats=true&treatmentTitle=Carabus

http://z2.punkish.org/v2/treatments?facets=true&stats=true&journalTitle=ZooKeys&treatmentTitle=Carabus takes 12 sec to get the result

getting back to http://z2.punkish.org/v2/treatments?facets=true&stats=true&treatmentTitle=Carabus takes 11 sec

[2020-03-30 19:53] punkish commented on #31
lovely bug report. Fixed!

**trivia:** 'order' and 'rank' are reserved words in SQL, so they have to be treated differently when used in a query. A regression had crept in, now fixed.

**triva2:**  note that on the test server I have turned off caching. That means even repeated queries will be redone. This is to fish out the bad performing queries (please report). My logic is that if the API perfo

[2020-03-30 19:53] #31 closed

[2020-03-31 07:55] teodorgeorgiev commented on #32
When the API return results (http://z2.punkish.org/v2/treatments?facets=true&stats=true&q=agosti), the response looks like that (as it was):
{
       "value": {
              "search-criteria": {

When there are no results (http://z2.punkish.org/v2/treatments?facets=true&stats=true&journalTitle=agosti) the structure of the response has been changed to:
{
       "search-criteria": {

Before it has

[2020-03-31 09:45] punkish commented on #32
Another wonderful bug report, thanks. Fixed.

**explanation:** you found a real edge case – *when* the cache is off (which would never be in a production env) *and* when searching for a single record (presence of `treatmentId`) and failing to find it.

fixed a few other things as well.

**Note:** Once again, please note, this was *not* a bug in the website. This was a bug in the API. Hence, the co

[2020-03-31 09:45] #32 closed

[2020-04-19 16:12] #23 closed

[2020-04-20 16:58] tcatapano opened #38 "Facets filtering incorrect on test server"
on the test site (http://blr.uplaysandbox.website) a "Journal" search for term "European" (http://z2.punkish.org/v2/treatments?facets=true&stats=true&journalTitle=European) returns a Treatments result set with the following JOURNALTITLE facet values counts:

[code]

Setting aside the issue of the misspelled "Jornal" in one of the values, filtering on the value "European Jornal of Taxonomy" does no

[2020-04-20 19:29] punkish commented on #38
this is a website bug. In fact, there are two related website bugs, but first, if the query were to be made correctly, it would be `http://z2.punkish.org/v2/treatments?facets=true&stats=true&journalTitle=European%20Jornal%20of%20Taxonomy` which would result in 20 record as the facet suggested

[code]

The two problems with the website:

1. When checking the facet, the query did not change
2. The w

[2020-04-28 08:35] myrmoteras opened #39 "BLR testing UI"
titles should be in two words?
![image](https://user-images.githubusercontent.com/4609956/80465838-013c6600-893c-11ea-824e-f3698bbe64f9.png)

[2020-04-28 09:27] myrmoteras opened #40 "testing website: limitation of what search terms can be used"
it is not clear, what terms can be used to search. This should be defined

I enter "and", the BLR spins, and after a while it stops without any results.
I enter "sea",  I am getting 121299 treatments. When I open the first record and "treatmentBank" then I can find via search that "sea" is in the treatment. this is not the case in "Zenodo". How does the system now, that this article has "sea" insi

[2020-04-28 09:27] myrmoteras commented on #40
how and where can we add respective language?

[2020-04-28 12:23] myrmoteras opened #41 "Testing website: download of a search. How?"
As a user, I  am searching for some data and finally get what I want.

How can I download or save the search and its result?

For example, I am searching for "vector" and I want to have all the treatments or at least the link to the treatment that include this term.

[2020-04-29 08:09] teodorgeorgiev commented on #41
We have added all query parameters in the URL, so you can just copy/paste it from the browser:
http://blr.uplaysandbox.website/?facets=true&q=vector&stats=false&type=all

[2020-04-29 08:17] teodorgeorgiev commented on #38
@tcatapano - all fixed, please check.
All query parameters have been added to the URL, so now you can share searches and report problems.
With regards to the Safari issue - we couldn't make to reproduce it, but so far we have tested only on Safari on a virtual box. Sorry, no MAC at home :)

[2020-04-29 10:44] myrmoteras opened #42 "BLR UI: explanation of what is being searched."
** Introduction / What is searched **

BLR is based on data liberated from publications. This includes taxonomic treatments, figures and its captions, tables and its captions, and bibliographic references. The current search is based on on treatments, both full text and indexed search based on semantically enhanced elements.

Searches are possible using Boolean operators, such as AND, OR

**All se

[2020-04-29 12:12] teodorgeorgiev commented on #42
... we can add help icon right next to the search bar and this text will appear after clicking on this icon. @tcatapano @myrmoteras Are you ok with that? Any other suggestions?

[2020-04-29 22:08] myrmoteras opened #43 "BLR website testing: access to data: API"
Late at night, what is obvious what we forgot and is the real strenght, is that we have one, may be two APIs. Zenodeo, and and Zenodo.
We really must provide a link for API users on the front page, or at least a level below, and we must make a strong statement that this website is just scratching the surface of what could be done by the ingenious users of the data.

The goal of BLR is inspiring us

[2020-04-30 07:38] myrmoteras opened #44 "BLR Website: testing"
I do want to find out all about Jeremy Miller

For that I start typing Miller and the system offers me
![image](https://user-images.githubusercontent.com/4609956/80684178-94ed6e00-8ac5-11ea-8ede-5823bea527d9.png)

* I select Miller, Jeremy, but I do not get any results
* I then shorten the query to Miller, J. and do not get any results
http://z2.punkish.org/v2/treatments?facets=true&stats=true&q=M

[2020-04-30 07:39] myrmoteras commented on #44
The same happens if I choose the other selection buttons. Furthermore, I can't get back via return on Chrome and are stuck in a blank screen.

[2020-04-30 07:41] myrmoteras commented on #44
If I start with this query: http://z2.punkish.org/v2/treatments?facets=true&stats=true&journalTitle=Miller

I don't get any results

[2020-04-30 07:44] myrmoteras commented on #44
if I do this search http://z2.punkish.org/v2/treatments?facets=true&stats=true&authorityName=Miller
I am getting results. But since I am searching for Miller, I can't select in the facets the Miller I want.
![image](https://user-images.githubusercontent.com/4609956/80685204-1d204300-8ac7-11ea-9839-45f4587e2a5a.png)

[2020-05-02 05:51] myrmoteras opened #45 "BLR website: missing facet for authors?"
When I do this search for authors, eg I want to get all from Jack Randall
http://z2.punkish.org/v2/treatments?facets=true&stats=true&authorityName=Randall

I do not get a facet to select a specific author.

![image](https://user-images.githubusercontent.com/4609956/80856358-a6f81980-8c49-11ea-9f62-49ec65fb1165.png)

[2020-05-02 06:00] myrmoteras opened #46 "BLR website; adding links to ocellus, openbiodiv, synospecies"
In our Arcadia report, we need to list a applications based on BLR/Zenodeo or the liberated data.

Since we have some very promising tools, such as ocellus, openBiodiv and synospecies, we should list them, may be under the API as examplar applications using our data? May be just the name and a short paragraph?

[2020-05-02 06:07] myrmoteras opened #47 "testing: blank screen"
when searchin with a wildcard "%"

http://blr.uplaysandbox.website/?facets=true&journalYear=2012&page=0&q=Randa%25&resource=treatments&stats=true&type=authorityName

or http://blr.uplaysandbox.website/?q=Randa%25&resource=images&type=all

I am getting a blank sreen

[2020-05-02 06:20] myrmoteras opened #48 "BLR website: author is confusing and needs explanation?"
When I use the search option "author", I am getting mainly authorities (author of a new species) and not authors of an article, which most people would expect.

We need to explain somewhere the search concepts.

For example, when I am searching for Fisher using the "All" option, I am getting anything from an author, authority to a string, such as "Fisher Hill" in a location.

[2020-05-02 06:25] myrmoteras opened #49 "testing: Roundtrips"
http://z2.punkish.org/v2/treatments?facets=true&stats=true&status=New Species&authorityName=Fisher
to this I got from searching

When I search this way, I am not getting anything.

When I search
http://z2.punkish.org/v2/treatments?facets=true&stats=true&status=New%20Species&q=Fisher
I am getting 82 Treatments

[2020-05-02 09:45] myrmoteras opened #50 "WEbsite: Search term delimitation"
How can a restraion the search, so that I only get the terms for the word I am searching for, not all other combination, such as
Bat
but not Bathygnathus, Bathydraco...

[2020-05-02 10:04] myrmoteras opened #51 "website: taxonomic hierarchy"
When I search for the bat order Chiroptera, I only  get in the taxon search those treatments at order level

http://z2.punkish.org/v2/treatments?facets=true&stats=true&treatmentTitle=Chiroptera

Is this like this, or shouldn't it deliver all the taxa, and then allow faceted search at the taxonomic rank requested?

[2020-05-04 12:56] myrmoteras opened #52 "BLR Website release: date?"
What is the forseen BLR website release?

We need to get it out be **end of this week** so we can report it **May 14** in the Arcadia report.

Do you want to release it quietly so we can fix bugs, etc. or shall we write a comment in the Plazi new section?

[2020-05-04 12:59] punkish commented on #52
It is up to @tcatapano and @teodorgeorgiev, whatever they decide. But yes, I agree that it should be put in production soon so we can continue testing it on the different server, and also mention it in the report. Small bugs, etc. can be fixed as time goes on.

one thing to note, I still have not been able to update the db to the latest data. I am working on the routines, and soon as that gets don

[2020-05-04 16:05] tcatapano commented on #52
@myrmoteras: If you mean by release, the promotion to the production server of the current release candidate on the staging server, then this can be done at any time. It would need to be approved for release by you as you are the principal stakeholder. The promotion itself would be need to be done by @teodorgeorgiev who would need to point the website app to https://zenodeo.punkish.org/v2 and move

[2020-05-04 16:13] myrmoteras commented on #52
I think we should promote to the production server, hopefully with some of the suggested issues resolved, especially the links to ocellus, synospecies, openbiodiv, that is applications that are based on BLR data (BLR in the modern sense of data produced by TreatmentBank and available for further development using the APIs or other access points.

In fact we need to do it for our Arcadia goals.

Th

[2020-05-04 16:16] punkish commented on #52
ok, sounds like it is a go-ahead from @tcatapano. Re. @myrmoteras saying yay or nay, sounds to me that he is itching to say yay. From a functionality point of view, he had all this time to chime up with objections but didn’t. And, since no one has reported any further errors, perhaps we *should* go ahead. This means steps in this order:

1. I package the RC-2.6.1 to release v2.6.1 and pull the cod

[2020-05-04 16:18] punkish commented on #52
For that you would need to give the appropriate text and instructions to @teodorgeorgiev so the BLR website can be modified accordingly.

[2020-05-04 16:34] myrmoteras commented on #52
I did my testing - see the respective comments in the issues

Ok, @punkish let's agree on a the format for the description of the three applications. ie one paragraph and the link and get the tree applications included.
@teodorgeorgiev @lyubomirpenev can you do this for openBiodiv?

@teodorgeorgiev I hope this is ok and can be included

[2020-05-04 17:23] punkish commented on #52
I will draft a para in a new issue so everyone can comment on it

[2020-05-04 17:28] punkish commented on #51
I am not sure I fully understand the problem described above (because I am not a taxonomist), but let me tell you what is being queried: When you search for `treatmentTitle=Chiroptera` a search is conducted for all the records where the **treatmentTitle** field in the database starts with **chiroptera** (note the lowercase match). That is all. There is no other constraint placed on the search. It

[2020-05-04 17:31] punkish commented on #50
in which field? If you want to do a fulltext search, you could search for `q=bat` (see link below) which will get you all the records with the word bat (and all its grammatical stems, such as "bats") anywhere in the text of the entire treatment. It will also find "batter" and "batting" and other derivatives of bat, but none of those are found in our db.

http://z2.punkish.org/v2/treatments?q=bat

[2020-05-04 17:53] punkish commented on #49
When you search for `http://z2.punkish.org/v2/treatments?facets=true&stats=true&status=New Species&authorityName=Fisher` a search is conducted for all records where **status** starts with **New Species** (lowercase search, of course) and **authorityName** starts with **Fisher**. No records are found indeed.

However, when you remove the **authorityName** constraint and instead add `q=Fisher` as wi

[2020-05-04 18:00] punkish commented on #52
I am just now seeing these comments because I generally don't track the issues for the BLR website. I have too much on my hand with Zenodeo and I can't test BLR website as well.

That said, your comments are all great, a result of very helpful and thorough testing.  I have been through only three of those as of yet and replied to them, and none of those three are BLR UI comments. They are really Z

[2020-05-04 20:38] punkish commented on #48
so I investigated this issue and this one does seem to be a confusion with some roots in a BLR website-related issue, though not necessarily a bug (cc @teodorgeorgiev)

Part of the confusion comes from the terms **author** and **authorityName** that are used interchangeably. Note that the database does not have any field called **author**. When you search **author** (as noted in the BLR website by

[2020-05-04 20:45] punkish commented on #48
a comment – this is just a personal view, but I believe, it is an informed one. So, here goes…

part of the problem stems from the divergence in expectations and understanding of what the tech can do. As a domain scientist, you @myrmoteras, want to be able to do all permutations and combinations of granular searches. However, with each combo, the website and the backend get increasingly more compl

[2020-05-04 21:47] punkish commented on #48
ok, a very late night update. Thanks to the new data-dictionary that describes configuration, and then drives the query creations, I was able to create a new queryable parameter called "author" for treatments. So, now one will be able to do `/treatments?author=fisher` and get results like depicted in the image grab below

![image](https://user-images.githubusercontent.com/349242/81016491-d2a11c80-

[2020-05-04 22:06] myrmoteras commented on #48
@punkish I am not the dictator that says it has been done now. I just observer that something is not delivering what **I** expect, because you asked to do some testing.

These findings then need be discussed among us what the best solution is and whether it is worth making this effort.

Right now, the important thing is that we get the BLR website up, in which I agree with @tcatapano AND we get th

[2020-05-05 04:37] punkish commented on #48
You are more than just an observer, and as I mentioned before, your testing is extremely good. It really does bring out the problems and issues in an application from a real user’s point of view. That is why I always  take so much care to reply in detail, and then try and resolve the reported issue.

By the way, who is this Brian Fisher who has authored so many treatments?

[2020-05-05 05:35] teodorgeorgiev commented on #52
@myrmoteras we are ready to update http://biolitrepo.org/ at any time, please let me know when
(it should happen of course after @punkish update https://zenodeo.punkish.org/v2)
Please send me the description of the applications, we will write similar for openbiodiv

[2020-05-05 05:53] teodorgeorgiev commented on #48
... sure ... but I do not see such possibility in the API documentation (i.e. /treatments?author=XXXX)
@punkish what is the query parameter that I am supposed to use instead of authorityName ?

[2020-05-05 06:29] punkish commented on #48
that is because it hasn't been implemented yet. You overlooked this part in my post above :)

*One, this is very quickly done, and on my laptop. I have to test it well here, then I have to merge this dev branch into the master and create a new test RC, push to z2, so you all can test it. Then, @teodorgeorgiev has to modify the BLR website so that when a user chooses the "author" radio box, the sea

[2020-05-05 07:14] myrmoteras commented on #52
@teodorgeorgiev, @punkish and reto
Can you please have a quick look at this paragraph convering synospecies?
https://docs.google.com/document/d/1zveUuK8xeIPh_anSgrsDgaz9ZheGXXjsrDqd-IzRt7I/edit
thanks
d

[2020-05-06 06:17] myrmoteras commented on #52
@teodorgeorgiev @punkish
This is the green light from @tcatapano and me  to publish the current version of http://blr.uplaysandbox.website/, ideally with including the links to ocellus and synospecies (the text is [here](https://docs.google.com/document/d/1zveUuK8xeIPh_anSgrsDgaz9ZheGXXjsrDqd-IzRt7I/edit?ts=5eb19fa2).
Thanks

[2020-05-07 12:52] teodorgeorgiev commented on #52
We will update the production site tomorrow.
I guess the links to ocellus and synospecies have to be in the APIs section, right?
@myrmoteras @tcatapano: What about the short descriptions? Do want me to add them also in the APIs section, or just the links?

[2020-05-07 14:55] myrmoteras commented on #52
@teodorgeorgiev  here is the note about synospecies https://docs.google.com/document/d/1zveUuK8xeIPh_anSgrsDgaz9ZheGXXjsrDqd-IzRt7I/edit

either in API as examples of how BLR data allows third party developments

[2020-05-07 18:13] punkish commented on #52
no wait !!!

### IMPORTANT

I will be pushing an update later this evening (hopefully if all goes well) that will have a breaking change. For various reasons, I will not update the major version of the API, but it will go from 2.6.x to 2.7.x.

Here is the change: the route `/treatmentAuthors` will change to `/articleAuthors`.

**rationale:** The reason is because (after a long conversation with @m

[2020-05-07 18:58] tcatapano commented on #52
@punkish: Im very much of the belief that it is crucial to resist the urge to implement such last minute "wait! I can fix this one last thing" changes. I highly recommend we push what is currently deployed in the staging servers and promote to production together. Especially since this is a breaking change which will require work to be done on the web app end and all tested once again, let's maint

[2020-05-07 20:27] punkish commented on #52
these are great arguments, very sensible and disciplined. I am inclined to follow them with no further questions. But I do think that this is a very special case. But first…

fwiw, I have the fix already working in a separate branch, and have been testing it. Actually, there is not much testing to do because it is a pretty straightforward change, as I described above in my detailed description. I

[2020-05-08 12:22] teodorgeorgiev commented on #52
the current version of http://blr.uplaysandbox.website/ is now published on http://biolitrepo.org/  and it points to https://zenodeo.punkish.org/v2/

[2020-05-08 12:25] myrmoteras commented on #52
@teodorgeorgiev should it work? The search fucnctionality does not work.

Also, the synospecies and ocellus are not there in the API

[2020-05-08 12:29] punkish commented on #52
This will not work. Please note that I haven’t yet moved the latest test version to zenodeo yet. I didn’t write any email or message saying “go ahead”.

I am in the middle of that and will probably finish in about 30 mins.

[2020-05-08 12:32] teodorgeorgiev commented on #52
yes, it should work ...  however, now I see that the endpoint was changed to https://zenodeo.org/v2/
 ... which is something that I did not expect to happen.
With regards to the synospecies and ocellus, please send me clear instructions, where and how you want them.

[2020-05-08 12:34] punkish commented on #52
sigh, this is what happens when there are cross-instructions via email. As I said very clearly, I will say when the move is complete. It is not yet complete. I can understand that you didn’t expect the domain change to happen because I was going to tell you when it was working properly. Please give me the time to finish the job as I cannot work under pressure, esp when I have said that I will let

[2020-05-08 12:50] punkish commented on #52
# ALL CLEAR

zenodeo v 2.6.4 is now running on production server. Please note the new URL

root https://zenodeo.org
docs https://zenodeo.org/docs
v2 https://zenodeo.org/v2/

cc @tcatapano @teodorgeorgiev @myrmoteras

[2020-05-08 13:03] punkish opened #53 "BLR website URL is not updating with the query"
I thought this was fixed, but I just now searched for chordata, got the results, clicked on a facet, got the results narrowed, all good. But the URL search bar remained unchanged (see image below). The URL should always display the state that the website is in. This is good from a semantic web pov, and also allows users to share or bookmark links.

Also, we should really have this running under `h

[2020-05-08 13:11] teodorgeorgiev commented on #52
@punkish, of course, you can change the host of the API endpoint, but this should be communicated in advance ... I did not hear a single word that you plan to do this ... and I am not talking about versions of the code or CR.
... guess if the link to Zenodeo documentation in the BLR's API page is correct now :)
I am really sorry but it is not supposed to happen in that way
cc @tcatapano @myrmotera

[2020-05-08 13:20] punkish commented on #52
You are absolutely correct, a change in the host name should be announced in advance. And that is exactly what I was going to communicate along with telling everyone that the production server is now ready. That way, my announcement would have been in advance. But I never got a chance to say, “Hey everyone, the production server is now running the latest version.” Anyway, water under the bridge. G

[2020-05-08 14:01] teodorgeorgiev commented on #53
the url was fixed - it was configured to be hidden on the production environment
The SSL will be installed next week

[2020-05-08 14:01] #53 closed

[2020-05-09 10:02] myrmoteras opened #54 "taxonomic treatments; xhtml version of treatment with italics, etc"
in this case,
![image](https://user-images.githubusercontent.com/4609956/81470749-c0bad300-91ec-11ea-9b70-c09b08ded804.png)

where we have OCR input, we run into a problem, that we have wrong italics, bold (plus other OCR artifacts).

Do we have to show emphasis?

[2020-05-09 10:03] #54 closed

[2020-05-10 15:40] myrmoteras opened #55 "testing: taxon and journal does not work"
Testing
All: agosti seems to be ok
change to Taxon: not value
change to Joural: no value
change to author: two two treatment of species where I am authority. This should be taxon.

[2020-05-13 10:39] myrmoteras opened #56 "linking Arcadia on the home page"
A link to https://www.arcadiafund.org.uk/ should be inserted at the bottom of the home page and Foundation should be changed to Fund ("Arcadia Fund")
![image](https://user-images.githubusercontent.com/4609956/81802602-af3c3880-9516-11ea-8e9e-49136cd718af.png)

[2020-05-13 13:33] howkins commented on #56
done

[2020-05-13 15:54] myrmoteras opened #57 "testing: search does not reset"
I am searchig for Erwin, and get the results. I then use the facets, and then change from All to aontehr button. I then get much less, as I got before I used the facets.

That means, I can only make more and more restricted searches.
There is no way I can reset to start again.

[2020-05-13 15:55] myrmoteras commented on #57
When I remove the facets that is selected, then I am getting back to the original search.

[2020-06-12 15:35] #56 closed

[2020-06-12 15:36] #1 closed

[2020-06-12 15:36] #2 closed

[2020-06-12 15:40] #39 closed

[2020-06-12 15:46] #38 closed

[2020-06-12 15:47] #52 closed

[2020-06-12 15:49] #26 closed

[2020-06-12 15:49] #29 closed

[2020-06-12 15:49] #25 closed

[2020-06-12 15:58] teodorgeorgiev commented on #55
You are searching for treatments which contains "agosti" as:
  All - seems to be ok [seems OK to me]
  Taxon name: not value [seems OK to me]
  Journal name: no value [seems OK to me]
  author (of the treatment): two two treatment (of species where I am authority)  [seems OK to me]

[2020-06-24 17:29] mguidoti opened #58 "treatment titles should be taxonomicConceptLabel"
We had this discussion many times before, and I think we agreed that `taxonomicConceptLabel` is a more informative way to present the treatments on the search results page.

![image](https://user-images.githubusercontent.com/44419136/85603637-eed26600-b626-11ea-9c70-c3986d3e45ec.png)

This case, the treatment title would be `Prometopa Schellenberg 1926 sec. Krapp, 2011`. Guido is already putting t

[2020-07-06 19:39] myrmoteras opened #59 "treatment vs publication"
What is the difference between a treatment and a publication?

![image](https://user-images.githubusercontent.com/4609956/86633416-eb4cc080-bfd0-11ea-83e1-a708c1a0d672.png)

In this case, all the treatments are also publications. It seems that this is not correct, unless a publication is something published on Zenodo?

In a taxonomic and journal publishing sense, this should be separated. All the

[2020-07-07 06:07] teodorgeorgiev commented on #59
All publications are fetched from Zenodo. The "Taxonomictreatment" is a type of publication in Zenodo. If you don't want them in the publication tab, @punkish can filter them.

[2020-07-08 08:37] punkish commented on #59
hello @myrmoteras, if you look at the [Zenodeo docs](https://zenodeo.org/docs), you will see that the **publication** param can be one of *all, article, report, book, thesis, section, workingpaper, preprint* and it defaults to *all*. As @teodorgeorgiev mentioned, *taxonomictreatment* is also a type of publication, so since the Zenodeo param **publication** defaults to *all*, it ends up fetching *t

[2020-07-08 08:45] myrmoteras commented on #59
Yes, I suggest we should separate treatments from publications. There is a separate tab for treatments.

[2020-07-08 10:39] punkish commented on #59
Ok, makes sense. Will do it in a next update

[2020-07-19 19:53] tcatapano opened #60 "restore zenodeo query url in development site"
Could we restore this. It makes it much easier to debug if the query is shown and linked

[2020-07-19 19:58] tcatapano commented on #58
Is the composed taxonomicConceptLabel available in the source metadata *for all treatments*. If not, what is the spec for handling those cases in which a taxonomicConceptLabel cannot be composed?

[2020-07-19 20:02] gsautter commented on #58
Good to know ... I wasn't aware of this requirement until a minute ago ... the most sensible place to put this should be an attribute to the `treatment` element, as that's where LSIDs, HTTP URIs, etc. already go. Or would you like it in a different place?

[2020-07-19 20:09] tcatapano opened #61 "Strange thumbnail in image search result"
possibly related to: https://github.com/zenodo/zenodo/issues/2025

[2020-07-19 20:11] tcatapano commented on #61
Also note that there should be two figures returned by this search, but only one is returned. This figure is missing:

https://zenodo.org/record/841675#.XxSm0ygzb8A

[2020-07-19 20:15] tcatapano commented on #57
Fixed. Closing.

[2020-07-19 20:15] #57 closed

[2020-07-19 20:24] tcatapano commented on #55
Shouldnt a Taxon search for "Agosti" return the treatments for which Agosti is the authority too. That is, are authorities part of the taxon name for searching purposes?

[2020-07-19 20:36] tcatapano commented on #55
Not sure if this is a bug or the intended behavior, but I find the following confusing:

Taxon search for:

* "Cataglyphis hannae Agosti": 2 hits
https://biolitrepo.org/?facets=true&q=Cataglyphis%20hannae%20Agosti&resource=treatments&stats=true&type=treatmentTitle
* "Agosti": 0 hits:
https://biolitrepo.org/?facets=true&q=Agosti&resource=treatments&stats=true&type=treatmentTitle
* "Cataglyphis hann

[2020-07-19 20:49] tcatapano opened #62 "Collection facet not working"
E.g.

Search for Cataglyphis hannae:

https://biolitrepo.org/?facets=true&q=cataglyphis%20hannae&resource=treatments&stats=true&type=treatmentTitle

yields two Collection facet values, but selecting either returns no resuts

[2020-07-19 21:06] tcatapano commented on #51
Perhaps we need to redifine the "Taxon" search to mean not "search taxon name" (i.e., effectively Treatment title starts with X") but something broader to mean "search for term X in any taxonomic level field" so that "Chiroptera" will return all treatments with Chiroptera in order, genus, species or any taxon level field up to kingdom. Is this what is desired? @myrmoteras

[2021-01-01 12:32] myrmoteras opened #63 "use case: Guardian article about new species published by NHM"
This is a very interesting use case for BLR: https://www.theguardian.com/environment/2020/dec/30/moths-to-monkeys-503-new-species-identified-by-uk-scientists

The report is very simple: The NHM published descriptions of 503 new species.
the use case too: Plazi provides the links to and the treatments of all the 503 new species.

eg. https://biolitrepo.org/?facets=true&journalYear=2020&page=0&q=NHM

[2021-01-01 12:35] myrmoteras commented on #63
http://tb.plazi.org/GgServer/srsStats/stats?outputFields=doc.uuid+bib.year+tax.status+matCit.collectionCode&groupingFields=bib.year+tax.status+matCit.collectionCode&FP-bib.year=2020&FP-matCit.collectionCode=NHM&format=HTML

how can we find out new sp. with collector affiliation?
here is an approach: http://tb.plazi.org/GgServer/dioStats/stats?outputFields=doc.doi+bib.year+bib.source+auth.aff+treat